<!-- Footer -->
{% load static%}
<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <ul class="location_icon">
            <li>
              <a href="#"
                ><i class="fa fa-map-marker" aria-hidden="true"></i
              ></a>
              Address : kaduna polytechnique Ipsum <br />
              tudun wada
            </li>
            <li>
              <a href="#"
                ><i
                  class="fa fa-volume-control-phone"
                  aria-hidden="true"
                ></i></a
              >Phone : +234 9032 196 744
            </li>
            <li>
              <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a
              >Email : Reema@kadpoly.com
            </li>
          </ul>
          <form class="bottom_form">
            <h3>Newsletter</h3>
            <input
              class="enter"
              placeholder="Enter your email"
              type="text"
              name="Enter your email"
            />
            <button class="sub_btn"></button>
          </form>
        </div>
        <div class="col-md-7">
          <div class="map">
            <figure><img src="{% static 'images/map.jpg' %}" alt="#" /></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
              Copyright 2022 All Right Reserved By<a
               
              >
               </a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
